
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    outline: none;
    border:none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    font-weight: normal;
    text-transform: capitalize;
}

html {
    height: 100%;
    overflow-y: auto;
}
body {
    min-height: 100%;
}

header{
    width:100%;
    background: #fff;
    padding: 0px 80px 60px 80px;
    box-shadow: 0 .80px 16px rgba(0, 0, 0, .25);
    justify-content: space-between;
}
.logo{
    margin-top: 50px;
}
header .navbar a{
    font-size: 24px;
    margin-left: 32px;
    color: black;
    float: right;
}
.navbar a:hover{
    color: grey;
}

.memoji{
    position: absolute;
    right: 15%;
    bottom: 10%;
}

.intro{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .text-one{
    font-size: 25px;
}

.intro .text-two{
    font-size: 75px;
    font-weight: bolder;
    color: #79C3D1 ;
    margin-left: -3px;
}

.intro .text-three{
    font-size: 40px;
    font-weight: 600;
    color: #F89898;

}

.intro .text-four{
    font-size: 23px;
    margin: 5px 0;
}

.connect-btn{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 0%;
    cursor: pointer;
}

.connect-btn:hover {
    background-color: #2F2E2E;
  }

input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
 
input[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 0%;
    cursor: pointer;
}
  
  input[type=submit]:hover {
    background-color:#2F2E2E;
  }
  
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 15px;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:grey;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow:x 0 0 10px;
}

.about-text{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting{
    font-size: 75px;
    font-weight: bolder;
    color: #79C3D1 ;
    margin-left: -3px; 
}

.bio{
    margin-top: 40px;
    margin-left: -95px;
    font-size: 20px;
}

.aboutphoto{
    border-radius: 50%;
    float: right;
    width: 300px;
    height: 300px;
    margin-top: -300px;
    border: 5px solid#F89898
}

.projectintro{
    height: 100%;
    width: 70%;
    margin-left: 250px;
    margin-top: -300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectintro h1{
    font-weight: bold;
}

.projectintro h2{
    color: gray;
    font-weight: 700;
    padding-top: 15px;
}

.projectintro pre{
    margin-left: -65px;
    padding-top: 15px;
}
.project-photo-one{
    width: 600px;
    height: 500px;
    border-radius: 5%;
    position:relative;
    margin-top: 75px;
    margin-left: 500px;
    object-fit: cover;
}

.learnmorebtn{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 0%;
    cursor: pointer;
}

.learnmorebtn:hover {
    background-color: #2F2E2E;
  }

.projecttwo{
    height: 100%;
    padding-bottom: 1000px;
}

.project-photo-two{
    width: 600px;
    height: 500px;
    border-radius: 5%;
    position:relative;
    margin-top: 100px;
    margin-left: 500px;
    object-fit: cover;
}

.projectintrotwo{
    height: 100%;
    width: 70%;
    margin-left: 250px;
    margin-top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectintrotwo h1{
    font-weight: bold;
}

.projectintrotwo h2{
    color: gray;
    font-weight: 700;
    padding-top: 15px;
}

.projectintrotwo pre{
    margin-left: -65px;
    padding-top: 15px;
}

.headerpictureone{
    width: 700px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.description{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description h1{
    font-weight: bold;
}

.description h2{
    color: gray;
    font-weight: 700;
    padding-top: 15px;
}

.description pre{
    padding-top: 15px;
}

.headerpicturetwo{
    width: 700px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

.descriptiontwo{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.descriptiontwo h1{
    font-weight: bold;
}

.descriptiontwo h2{
    color: gray;
    font-weight: 700;
    padding-top: 15px;
}

.descriptiontwo pre{
    padding-top: 15px;
}